body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #d96a21; /* Adjust the color as needed */
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    position: relative;
}

.profile-photo {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Ensure the height is the same as the width */
    border-radius: 50%; /* Makes the image circular */
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #ffffff; /* Optional: Adds a border around the photo */
}

header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

header p {
    float: left;
    margin: 0;
    padding: 10px 0 0 10px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

footer {
    background: #d96a21;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
